.userMessage {
    background-color: #e0f7fa; 
    padding: 10px;
    border-radius: 10px;
    text-align: right;
    margin: 5px;
}

.assistantMessage {
    background-color: #bdd1bd; 
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    margin: 5px;
}